ipykernel
ipywidgets
requests
wget
numpy==1.*
pandas
matplotlib
seaborn
scikit-learn
trl==0.11.0 # reinforcement learning
#tensorflow[and-cuda]
torch==2.2.2
torchvision
torchaudio
torchtext==0.17.2
torchdata==0.7.1
torchmetrics
sentencepiece
transformers<=4.45
accelerate
huggingface_hub
hf_xet
peft
bitsandbytes
evaluate
sacrebleu
datasets
dataset
nltk
spacy
gensim
Levenshtein
pmdarima

portalocker
plotly
dash
nbformat

pdfplumber
fpdf

sacremoses
faiss-cpu

ibm-watsonx-ai==0.2.6
langchain==0.1.16
langchain-ibm==0.1.4
